<div class='max-w-3xl mx-auto p-8 min-h-screen bg-white'>

  <div class="md:flex justify-between my-8">

    <select (change)="onSelected($event.target)" class="select select-bordered">
      <option value="">--Select a team member--</option>
      @for(user of users(); track user.id) {
      <option [value]='user.id'>{{ user.name }}</option>
      }
    </select>

    <div class="form-control w-fit">
      <label class="label cursor-pointer">
        <input type="checkbox" (change)='onFilter($event.target)' class="checkbox mr-2" />
        <span class="label-text">Show only incomplete tasks</span>
      </label>
    </div>
  </div>

  <h1 class="text-3xl font-bold mb-8">ToDos
    @if (currentMember()) {
    for: {{ currentMember()?.name}}
    }
  </h1>

  @if (isLoading()) {
  <div>Loading ...</div>
  }

  @if (todosForMember().length > 0) {
  <div class='grid grid-cols-2'>
    <div class='font-bold mb-3'>Todo</div>
    <div class='font-bold mb-3 text-center'>Completed?</div>

    @for(t of todosForMember(); track t.id) {
    <div class=''>{{ t.title}}</div>
    <div class='text-center'>
      <input type='checkbox' [checked]='t.completed' (change)='onChangeStatus(t, $event.target)' class="checkbox">
    </div>
    } @empty {
    @if(!isLoading()) {
    <div>No todos found</div>
    }
    }
  </div>
  }

  @if (errorMessage()) {
  <div>Error: {{ errorMessage() }}</div>
  }
</div>